<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container" style="padding: 20px 0;text-align: left;font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;">
    <div class="header" style="border-bottom: 1px solid #ccc;padding: 20px 0;margin-bottom: 40px;">
        <div class="logo" style="margin: 0;padding: 10px 0;">
            <img src="cid:companyLogoImage"/>
        </div>
    </div>

    <div class="content" style="margin: 10px;">
        <h1>Відновлення доступу на сайт</h1>
        <p>Разове посилання для входу в особистий кабінет на сайті: <br/>
            <a href=":siteName:access" >:siteName:access</a><br/>
            дійсне до :time
        </p>

        <p>Якщо ви не запитували відновлення паролю проігноруйте цей лист.</p>

        <a
                href=":siteName:access/"
                target="_blank"
                class="button"
                style="display: inline-block;width: 160px;margin: 40px 0;padding: 10px;background-color: #094f9f;color: #fff;text-align:center;text-decoration:none"
        >На сайт
        </a>
    </div>
    <div class="contacts">
        <p style="margin: 5px 0;"><a href=":siteName/" style="text-decoration: none;color: #000000">:siteName/</a></p>
        <p style="margin: 5px 0;"><a href="mailto::emailFrom" style="text-decoration: none;color: #000000">:emailFrom</a></p>
    </div>
</div>
</body>
</html>